adjustText==0.8
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
gensim==4.3.1
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
mysqlclient==2.1.1
natsort==8.3.1
numpy==1.24.2
packaging==23.1
pandas==2.0.0
Pillow==9.5.0
pynndescent==0.5.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
regex==2023.3.23
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
smart-open==6.3.0
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3